@mixin make-center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
};

@keyframes loading {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.cover {
  background: url('./images/netease_music.svg') no-repeat center/90%;
  background-color: rgb(249, 32, 0);
  border-radius: 1rem;

  .search-input {
    @include make-center();
    width: 18rem;
    height: 1.5rem;
    padding: 0 1rem;
    font-size: 1rem;
    box-shadow: inset 0 0 1px white;
    transition: all 500ms;
  }

  .result {
    @include make-center();
    width: 20rem;
    height: 10rem;
    transition: all 500ms;

    .result-wrapper {
      position: relative;
      width: 100%; height: 100%;
      background: rgba(255, 255, 255, 0.9);

      .loading {
        @include make-center();
        width: 4rem;
        height: 4rem;
        border: 1rem solid rgba(150, 150, 150, 0.3);
        border-top: 1rem solid #777777;
        border-radius: 50%;
        transition: all 500ms;
        animation: loading 2s infinite linear;
      }

      .songs {
        margin: 0;
        padding: 0;
        li {
          cursor: pointer;
          box-sizing: border-box;
          width: 100%;
          list-style: none;
          padding: 2px;
          border-bottom: 1px solid rgba(100, 100, 100, 0.4);
          &:hover {
            background: rgba(249, 32, 0, 0.2);
          }
        }
      }
    }
  }
}