@keyframes borderEffect {
  0% { width: 20px; height: 20px; }
  50% { width: 30px; height: 30px; }
  100% { width: 20px; height: 20px; }
}

.song-wrapper {
  display: inline-block;
  position: relative;

  h3 {
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, 0);
    font-size: 32px;
    margin: 10px;
    color: white;
  }

  .control-btn {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 0);
  }

  .progress-bar {
    position: absolute;
    text-align: center;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .progress-bar-wrapper {
      position: relative;
      width: 100%; height: 100%;
      &:hover {
        .timeline, .cursor-border { box-shadow: 0 0 1em white; }
      }
    }

    .timeline {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      border: 0;
      height: 1px;
      margin: 0;
      transition: box-shadow 1s;
    }

    .cursor-border {
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: box-shadow 1s, left 100ms;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.25);
      background: rgba(255, 255, 255, 0.15);
      animation: 1.6s ease-in-out infinite borderEffect;
    }
    .cursor-point {
      z-index: 2;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      transition: all 100ms;
     }
  }
}